
{% extends "base.html" %}

{% block title %}Contact Page{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='contact_styles.css')}}">
{% endblock %}

{% block str_btn %}
{% endblock %}


{% block content %}
    <div class="headline_1">
        <h3>We'd love to hear from you!</h3>
        <p>Drop us a line, or give us a heads up if you're interested in visiting us.</p>
        
        <h4>Thank You!</h4>
    </div>


    <div class="wrapper-signup">
        <form action="https://api.web3forms.com/submit" method="POST">
            
            <div class="form_container">
                <h2>Get In Touch</h2>
                <input type="hidden" name="access_key" value="6708b3e3-e6b1-4086-90d7-e26681b2bce4">
                <div class="input-box">
                    <label class="for_labels" for="name"></label>
                    <input type="text" class="input-items" id="name" name="name" placeholder="Username" required>
                    <span class="icon"><i class="fa-solid fa-user fa-fade"></i></span>
                </div>
                <div class="input-box">
                    <label class="for_labels" for="email"></label>
                    <input type="email" class="input-items" id="email" name="email" placeholder="Email" required>
                    <span class="icon"><i class="fa-solid fa-envelope fa-fade"></i></span>
                </div>
                <div class="input-box">
                    <label class="for_labels" for="subject"></label>
                    <input type="text" id="subject" class="input-items" name="subject" placeholder="Subject" required>
                    <span class="icon"><i class="fa-solid fa-note-sticky fa-fade"></i></span>
                </div>
                <div class="input-box">
                    <label class="for_labels" for="message"></label>
                    <textarea id="message" class="textarea_bx" name="message" rows="5" cols="43" placeholder="Your Message"></textarea>
                </div>

                <button class="submit_btn" type="submit">Submit</button>

            </div>
        </form>
    </div>

    {% block description %}
    {% endblock %}

{% endblock %}